body {
  font-family: 'Open Sans', sans-serif;
}



.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("_JBU4413-1 Nicolas Pierson.jpg");
  height: 80vh;
  padding: 300px;
  background-size: cover;
}

.banner h1 {
  color: #FBFEF9;

}

.banner h5 {
  color: #FBFEF9;
  opacity: 0.6;
}

.projects {
  padding: 100px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.about {
  padding: 100px;
  width: 100%;
  margin-top: 25px;
}
.about-text {
  width: 90%;
}

.about p {
  font-size: 18px;
  letter-spacing: 0.7px;
  line-height: 30px;
}

.about li {
  list-style: none;
  display: inline;
  padding: 10px;
}

.projects h3 {
  font-size: 16px;
  font-family: 'Open Sans';
}

.projects img {
  height: 330px;
  width: 640px;
}

.skills {
  margin-top: 60px;
}

.no-show {
  display: none;
}

.show {
  display: block;
}

.footer {
  background: #403F4C;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FFC145;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

#aboutme-div {
  height: 70vh;
}

#aboutme:hover {
  border-bottom: 1px #FFC145 solid;
  cursor: grab;
}

#myprojects:hover {
  border-bottom: 1px #FFC145 solid;
  cursor: grab;
}

#contact:hover {
  border-bottom: 1px #FFC145 solid;
  cursor: grab;
}

.bottom-border {
  border-bottom: 1px black solid;
}

.tabs {
  margin-top: 15px;
}

.each-project {
  width: 640px;
  margin-bottom: 25px;
}


