body {
  font-family: 'Open Sans', sans-serif;
}



.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("Nicolas.jpg");
  height: 80vh;
  padding: 200px;
  background-size: cover;
}

.banner h1 {
  color: #FBFEF9;

}

.banner h5 {
  color: #FBFEF9;
  opacity: 0.6;
}

.projects {
  padding: 100px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.about {
  padding: 100px;
  padding-bottom: 0;
  width: 100%;
  margin-top: 25px;
}
.about-text {
  width: 90%;
}

.about p {
  font-size: 18px;
  letter-spacing: 0.7px;
  line-height: 30px;
}

.about ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

.projects h3 {
  font-size: 16px;
  font-family: 'Open Sans';
}

.projects img {
  height: 330px;
  width: 640px;
}

.skills {
  margin: 10px 10px 10px 10px;
}

.no-show {
  display: none;
}

.show {
  display: block;
}

.footer {
  background: #403F4C;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FFC145;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

#aboutme-div {
  height: 70vh;
}

#aboutme:hover {
  border-bottom: 1px #FFC145 solid;
  cursor: grab;
}

#myprojects:hover {
  border-bottom: 1px #FFC145 solid;
  cursor: grab;
}

#contact:hover {
  border-bottom: 1px #FFC145 solid;
  cursor: grab;
}

.bottom-border {
  border-bottom: 1px black solid;
}

.tabs {
  margin-top: 15px;
}

.each-project {
  width: 640px;
  margin-bottom: 25px;
}

.contact {
  margin-top: 30px;
}

#aboutme-div {
  min-height: 90vh;
}

.contact-list i {
  margin: 25px 10px 0 10px;
  opacity: 0.8;
}

.contact-list i:hover {
  color: #FFC145;
}


@media (max-width: 1300px) {
  #aboutme-div {
    min-height: 110vh;
  }
}

@media (max-width: 400px) {
  html {
    width: 400px;
    margin: 0;
  }

  .container {
    width: 340px;
  }

  .about {
    padding: 0;
    margin: 0;
    width: 320px;
  }

  .about p {
    font-size: 8px;
    letter-spacing: 0.7px;
    line-height: 20px;
  }

  .responsive {
    width: 320px;
    margin: 0;
  }

  .projects img {
    height: 150px;
    width: 320px;
  }

  .each-project {
    width: 320px;
    margin-bottom: 25px;
  }

  .banner {
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(Nicolas.jpg);
    height: 40vh;
    padding: 200px;
    background-size: 600px;
  }

  .banner h1 {
    color: #FBFEF9;
    font-size: 20px;
    display: block;
  }
}


